# List 
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ["Abdul Basit","Ali Zafar","Ali Anis", "Muhammad Ali"]
print(names)

['Abdul Basit', 'Ali Zafar', 'Ali Anis', 'Muhammad Ali']

In [2]:
names : list[str] = ["Abdul Basit","Ali Zafar","Ali Anis", "Muhammad Ali"]

for name in names:
    print(name)

Abdul Basit
Ali Zafar
Ali Anis
Muhammad Ali

In [9]:
names : list[str] = ["Abdul Basit","Ali Zafar","Ali Anis", "Muhammad Ali"]

for name in names:
    print(f"Welcome Dear student {name.title()}")
    print("Thanks for joining us today.\n")
print("pakistan zinda bad")

Welcome Dear student Abdul Basit
Thanks for joining us today.

Welcome Dear student Ali Zafar
Thanks for joining us today.

Welcome Dear student Ali Anis
Thanks for joining us today.

Welcome Dear student Muhammad Ali
Thanks for joining us today.

pakistan zinda bad

In [13]:
data_base : list[tuple[str,str]] = [("Abdul Basit","123"),
                                    ("Ali Anis","456"),
                                    ("Ali Zafar","789")
                                    ]
for row in data_base:
    print(row)

('Abdul Basit', '123')
('Ali Anis', '456')
('Ali Zafar', '789')

In [12]:
data_base : list[tuple[str,str]] = [("Abdul Basit","123"),
                                    ("Ali Anis","456"),
                                    ("Ali Zafar","789")
                                    ]
for row in data_base:
    user, password = row
    print(user,  password)

Abdul Basit 123
Ali Anis 456
Ali Zafar 789

In [1]:
input_user : str   = input("Enter Username:")
print(input_user)

9

In [2]:
data_base : list[tuple[str,str]] = [("Abdul Basit","123"),
                                    ("Ali Anis","456"),
                                    ("Ali Zafar","789")
                                    ]
input_user : str   = input("Enter Username:")
input_password : str = input("Enter Password: ")

for row in data_base:
    user, password = row
    if input_user == user and  input_password == password:
        print("Valid User Login Welcome")
        break

In [18]:


data_base : list[tuple[str,str]] = [("Abdul Basit","123"),
                                    ("Ali Anis","456"),
                                    ("Ali Zafar","789")
                                    ]
input_user : str   = input("Enter Username:")
input_password : str = input("Enter Password: ")

for row in data_base:
    user, password = row
    if input_user == user and  input_password == password:
        print("Valid User Login Welcome")
        break
else:
    print("Invalid User Login Please Try Again.")

Invalid User Login Please Try Again.

In [20]:


data_base : list[tuple[str,str]] = [("Abdul Basit","123"),
                                    ("Ali Anis","456"),
                                    ("Ali Zafar","789")
                                    ]
input_user : str   = input("Enter Username:")
input_password : str = input("Enter Password: ")

for row in data_base:
    user, password = row
    if input_user == user and  input_password == password:
        print("Valid User Login Welcome")
        break
else:
    print("Invalid User Login Please Try Again.")

Valid User Login Welcome

# Number With Loop
* `range(start,end,step)`

In [21]:
range(10)

range(0, 10)

In [26]:
list(range(11)) # starting = 0 ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
list(range(2,10)) # starting = 2 ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(2,21,2)) # starting = 2 ending = n-1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
names : list[str] = ["Abdul Basit","Ali Zafar","Ali Anis", "Muhammad Ali"]
list(enumerate(names))

[(0, 'Abdul Basit'), (1, 'Ali Zafar'), (2, 'Ali Anis'), (3, 'Muhammad Ali')]

In [31]:
names : list[str] = ["Abdul Basit","Ali Zafar","Ali Anis", "Muhammad Ali"]
for n in enumerate(names):
    print(n)

(0, 'Abdul Basit')
(1, 'Ali Zafar')
(2, 'Ali Anis')
(3, 'Muhammad Ali')

In [30]:
names : list[str] = ["Abdul Basit","Ali Zafar","Ali Anis", "Muhammad Ali"]
for index, names in enumerate(names):
    print(index, names)

0 Abdul Basit
1 Ali Zafar
2 Ali Anis
3 Muhammad Ali

In [33]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [36]:
for n in range(1,11):
    print(f"{3} X {n} = {n*3}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [37]:
squares = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive
```
for item in items_list
    loop_body
```


### List Comprehensive style 
```
[loop_body for item in items_list]
```

In [42]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [43]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Simple Statistics with a List of Numbers

In [45]:
digits : list[int] = [1,2,3,4,5,6,7,8,9,0]
print(digits)
print(max(digits))  # Output: 9
print(min(digits))  # Output: 0
print(sum(digits))   # Output:

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

# Tuples

In [46]:
names : tuple[str] = ('A', 'B','C','D')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [4]:
names : tuple[str] = ('A', 'B','C','D')
names[0] = "pakistan"
print(names)

TypeError: 'str' object does not support item assignment

In [1]:
from typing import Any
data : tuple[Any] = ('A',[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [3]:
from typing import Any
data : tuple[Any] = ('A',[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)